/* ------------------ Reset Styles ------------------ */
/* line 4, ../scss/style-rtl.scss */
caption,
th,
td {
  text-align: right;
}

/* line 9, ../scss/style-rtl.scss */
blockquote {
  border-left: none;
  border-right: 4px solid #afafaf;
}

/* line 13, ../scss/style-rtl.scss */
blockquote:before {
  content: "\201D";
}

/* line 16, ../scss/style-rtl.scss */
blockquote:after {
  content: "\201C";
}

/* line 19, ../scss/style-rtl.scss */
tr td,
tr th {
  text-align: right;
}

/* ------------------ List Styles ------------------ */
/* line 26, ../scss/style-rtl.scss */
.region-content ul,
.region-content ol {
  padding: 2.5em 0 0.25em 0;
}

/* line 30, ../scss/style-rtl.scss */
.item-list ul li {
  padding: 0.2em 0 0 0.5em;
}

/* line 33, ../scss/style-rtl.scss */
ul.tips {
  padding: 0 1.25em 0 0;
}

/* line 36, ../scss/style-rtl.scss */
.block ol,
.block ul {
  padding: 0 1em 0.25em 0;
}

/* ------------------ Header ------------------ */
/* line 43, ../scss/style-rtl.scss */
#logo {
  padding: 15px 10px 15px 15px;
}

/* line 46, ../scss/style-rtl.scss */
#logo,
#name-and-slogan,
.region-header .block,
.region-header #block-user-login .form-item,
.region-header #block-user-login .item-list li {
  float: right;
}

/* line 53, ../scss/style-rtl.scss */
#name-and-slogan {
  margin: 0 15px 30px 0;
}

/* line 56, ../scss/style-rtl.scss */
.region-header .form-text {
  margin-left: 2px;
  margin-right: 0;
}

/* line 60, ../scss/style-rtl.scss */
.region-header #block-user-login .item-list li.last {
  padding-left: 0;
  padding-right: 0.5em;
}

/* line 64, ../scss/style-rtl.scss */
.region-header #block-user-login ul.openid-links li.last {
  padding-right: 0;
}

/* line 67, ../scss/style-rtl.scss */
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  background-position: right -3px;
  padding-left: 0;
  padding-right: 20px;
}

/* --------------- Main Menu ------------ */
/* line 76, ../scss/style-rtl.scss */
#main-menu ul.links li,
#main-menu ul.links li a {
  float: right;
}

/* --------------- Secondary Menu ------------ */
/* line 83, ../scss/style-rtl.scss */
#secondary-menu-links {
  float: left;
}

/* ----------------- Content ------------------ */
/* line 89, ../scss/style-rtl.scss */
.submitted .user-picture img {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* line 94, ../scss/style-rtl.scss */
.field-type-taxonomy-term-reference .field-label {
  padding-left: 5px;
  padding-right: 0;
}

/* line 98, ../scss/style-rtl.scss */
.field-type-taxonomy-term-reference ul.links li {
  padding: 0 0 0 1em;
  float: right;
}

/* line 102, ../scss/style-rtl.scss */
.link-wrapper {
  text-align: left;
  margin-right: 236px;
  margin-left: 0;
}

/* ----------------- Comments ----------------- */
/* line 110, ../scss/style-rtl.scss */
.comment .user-picture img {
  margin-right: 0;
}

/* line 113, ../scss/style-rtl.scss */
.comment .attribution {
  float: right;
  padding: 0 0 0 30px;
}

/* line 117, ../scss/style-rtl.scss */
.comment .comment-arrow {
  background-image: url(../images/comment-arrow-rtl.gif);
  margin-left: 0;
  margin-right: -47px;
}

/* line 122, ../scss/style-rtl.scss */
.comment .indented {
  margin-right: 40px;
  margin-left: 0;
}

/* line 126, ../scss/style-rtl.scss */
.comment ul.links li {
  padding: 0 0 0.5em;
}

/* line 129, ../scss/style-rtl.scss */
.comment-unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}

/* -------------- Password Meter  ------------- */
/* line 137, ../scss/style-rtl.scss */
#password-strength {
  left: auto;
  margin-top: 2em;
  right: 16em;
}

/* line 142, ../scss/style-rtl.scss */
#password-strength-text {
  margin-top: 0;
  float: left;
}

/* line 146, ../scss/style-rtl.scss */
.form-item-pass-pass2 label {
  clear: right;
}

/* ----------------- Buttons ------------------ */
/* line 152, ../scss/style-rtl.scss */
input.form-submit,
a.button {
  margin-right: 0;
  margin-left: 0.6em;
}

/* --------------- Search Form ---------------- */
/* line 160, ../scss/style-rtl.scss */
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* ------------------ Footer ------------------ */
/* line 169, ../scss/style-rtl.scss */
#footer-columns ul {
  padding-right: 0;
}

/* line 172, ../scss/style-rtl.scss */
#footer-columns li a {
  padding: 0.8em 20px 0.8em 2px;
}

/* line 175, ../scss/style-rtl.scss */
#footer li a {
  float: right;
  border-left: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  border-right: none;
}

/* line 181, ../scss/style-rtl.scss */
#footer li.first a {
  padding-right: 0;
  padding-left: 12px;
}

/* line 185, ../scss/style-rtl.scss */
#footer li.last a {
  padding-left: 0;
  padding-right: 12px;
  border-left: none;
}

/* --------------- System Tabs  --------------- */
/* line 193, ../scss/style-rtl.scss */
.tabs ul.primary li {
  margin: 0 0 0 5px;
  float: right;
  zoom: 1;
}

/* line 198, ../scss/style-rtl.scss */
.tabs ul.secondary li {
  float: right;
}

/* line 201, ../scss/style-rtl.scss */
.tabs ul.secondary li:first-child {
  padding-right: 0;
}

/* line 204, ../scss/style-rtl.scss */
.tabs ul.secondary li:last-child {
  border-left: none;
}

/* line 207, ../scss/style-rtl.scss */
ul.action-links li a {
  background-position: right center;
  padding-left: 0;
  padding-right: 15px;
}

/* -------------- Form Elements   ------------- */
/* line 215, ../scss/style-rtl.scss */
.fieldset-legend span.summary {
  margin-left: 0;
}

/* line 218, ../scss/style-rtl.scss */
#user-profile-form input#edit-submit {
  margin-left: 0;
}

/* line 221, ../scss/style-rtl.scss */
.password-suggestions ul li {
  margin-right: 1.2em;
  margin-left: 0;
}

/* Animated throbber */
/* line 227, ../scss/style-rtl.scss */
html.js input.form-autocomplete {
  background-position: 1% center;
}

/* line 230, ../scss/style-rtl.scss */
html.js input.throbbing {
  background-position: 1% center;
}

/* Comment form */
/* line 235, ../scss/style-rtl.scss */
.comment-form label {
  float: right;
}

/* line 238, ../scss/style-rtl.scss */
.comment-form .form-type-checkbox,
.comment-form .form-radios,
.comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px;
}

/* line 244, ../scss/style-rtl.scss */
#edit-actions input {
  margin-left: 0.6em;
  margin-right: 0;
}

/* -------------- Shortcut Links ------------- */
/* line 251, ../scss/style-rtl.scss */
.shortcut-wrapper h1#page-title {
  float: right;
}

/* ---------- Poll ----------- */
/* line 257, ../scss/style-rtl.scss */
.poll .vote-form {
  text-align: right;
}

/* line 260, ../scss/style-rtl.scss */
.poll .total {
  text-align: left;
}

/* ---------- Color Form ----------- */
/* line 266, ../scss/style-rtl.scss */
.color-form #palette {
  margin-left: 0;
  margin-right: 20px;
}

/* line 270, ../scss/style-rtl.scss */
.color-form .form-item label {
  float: right;
}

/* line 273, ../scss/style-rtl.scss */
.color-form #palette .lock {
  right: -20px;
  left: 0;
}
